* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

body {
  width: 100vw;
  font-family: 'poppinsregular';
  overflow-x: hidden;
}
/* Header ------------------------------------------------> */
header {
  margin: 30px 0;
  z-index: 99999;
}

header.sticky {
  animation: sticky-nav .5s ease-in-out forwards;
}

@keyframes sticky-nav {
  0% {
    position: static;
    transform: translate(0, -10px);
  }

  100% {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    transform: translate(0 , 0);
  }
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .brand a {
  font-weight: 800;
  font-size: 18px;
  color: #000;
}

header nav ul {
  height: max-content;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

header nav ul li {
  width: max-content;
  height: max-content;
  margin: 0 5px;
}

header nav ul li a {
  display: block;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 18px;
  color: #000;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

header nav ul li .active {
  opacity: 1;
  color: #fff;  
  background-color: #00cba8;
}

header nav ul li a:hover {
  opacity: 1;
  color: #fff;  
  background-color: #00cba8;
}

/* Main --------------------------------------------------------------> */
@media screen and (max-width: 991px) {
  main .main-content-1 .hero-image-1 {
    width: 60%;
  }
}

main .main-content-2 {
  background-color: #00cba8;
}

a.scroll {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  color: #000;
  border: 2px solid #000;
  background-color: #fff;
  opacity: .8;
  transform: translate(100px, 0);
  transition: opacity .3s ease-in-out, transform .5s ease-in-out;
}

a.scroll:hover {
  opacity: 1;
}

a.scrollBtnActive {
  display: block;
  transform: translate(0, 0);
}